.footer{
    /*background-color: #ed1111;*/
    margin: auto;
    width: 50%;

    padding: 10px;
    text-align: center;
    font-size:30px;
}
.ant-btn-icon{
    color: #fff;
}
.ant-input-search-button{
    background-color: #8da987;

}
.ant-input-search :hover {
    color: #51624f;
    background-color: #ffffff !important;
    border-color: #789076 !important;
    border-radius: 4px;
}


.ant-input-search .ant-input:focus {
    border-color: #86b290;

}